.cardsb-actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #000;
}

.cardsb-cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.cardsb-card{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'kdam thmor pro', sans-serif;
}

.cardsb-card:hover{
    transform: scale(1.02);
}

.cardsb-banner-1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Joaquin_Phoenix_in_2018.jpg/1200px-Joaquin_Phoenix_in_2018.jpg');
}
.cardsb-banner-2 {
    background-image: url('https://br.web.img2.acsta.net/pictures/18/09/12/19/42/5521101.jpg');
}
.cardsb-banner-3 {
    background-image: url('https://br.web.img3.acsta.net/pictures/19/11/26/23/20/0444545.jpg');
}

@media (max-width: 768px){
    .cardsb-cards-content {
        grid-template-columns: 1fr;
        margin-top: 10px;
    }   
}
