footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'kdam thmor pro', sans-serif;
}

.footer-navigation {
    display: none;
    margin-top: 10px;
    
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 0;
    margin: 10px;
    list-style: none;
}

@media(max-width: 768px) {
    .footer-navigation{
    display: block;
}

nav {
    display: none;
}}
